Repository jefftoffoli/Quallaa-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

test: enhance E2E tests for knowledge graph widget
  applications/browser/test/knowledge-graph.spec.ts
Due: eslint --fix, prettier --write

test: add comprehensive E2E tests for backlinks and tags widgets
  applications/browser/test/backlinks-panel.spec.ts
  applications/browser/test/tags-browser.spec.ts
  test-workspace/Index.md
  test-workspace/Meeting Notes.md
  test-workspace/Project Ideas.md
Due: eslint --fix, prettier --write

test: add comprehensive E2E tests for Daily Notes and Templates
  applications/browser/test/daily-notes.spec.ts
  applications/browser/test/templates.spec.ts
Due: eslint --fix, prettier --write

docs: update Next Steps.md - MVP 100% complete with all tests passing
  knowledge-base/Meta/Next Steps.md
Due: prettier --write

feat: add performance testing infrastructure
  .gitignore
  applications/browser/test/performance.spec.ts
  playwright.config.ts
  scripts/generate-perf-workspace.ts
Due: eslint --fix, prettier --write

docs: add performance testing results and infrastructure
  PERFORMANCE_TESTING.md
Due: prettier --write

feat: redesign Getting Started widget for Quallaa
  applications/browser/test/performance.spec.ts
  theia-extensions/product/src/browser/style/index.css
  theia-extensions/product/src/browser/theia-ide-getting-started-widget.tsx
Due: eslint --fix, prettier --write

feat: add KB View mode distinct from Developer View
  VIEW_MODE.md
  theia-extensions/product/src/browser/theia-ide-frontend-module.ts
  theia-extensions/product/src/browser/view-mode-contribution.ts
  theia-extensions/product/src/browser/view-mode-manager.ts
Due: eslint --fix, prettier --write

Revert "feat: add KB View mode distinct from Developer View"
  VIEW_MODE.md
  theia-extensions/product/src/browser/theia-ide-frontend-module.ts
  theia-extensions/product/src/browser/view-mode-contribution.ts
  theia-extensions/product/src/browser/view-mode-manager.ts
Due: eslint --fix, prettier --write

feat: create kb-view extension with SidebarService (Phase 8.1)
  applications/browser/package.json
  applications/electron/package.json
  docs/KB_VIEW_SHELL_DESIGN.md
  docs/THEIA_SHELL_ARCHITECTURE.md
  knowledge-base/Meta/Next Steps.md
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-service.ts
  theia-extensions/kb-view/src/common/kb-view-protocol.ts
  theia-extensions/kb-view/tsconfig.json
  theia-extensions/kb-view/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

feat: implement RibbonItemRegistry with contribution point (Phase 8.2)
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/ribbon/default-ribbon-contribution.spec.ts
  theia-extensions/kb-view/src/browser/ribbon/default-ribbon-contribution.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-registry.spec.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-registry.ts
  theia-extensions/kb-view/src/common/kb-view-protocol.ts
Due: eslint --fix, prettier --write

feat: implement RibbonWidget React component (Phase 8.3)
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-widget.tsx
  theia-extensions/kb-view/src/browser/style/ribbon.css
Due: eslint --fix, prettier --write

Update to Theia v1.66.2
  applications/browser/package.json
  applications/electron/package.json
  lerna.json
  package.json
  theia-extensions/launcher/package.json
  theia-extensions/product/package.json
  theia-extensions/updater/package.json
  yarn.lock
Due: prettier --write

feat: implement KBViewShell proof-of-concept (Phase 8.4)
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell-test-module.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.ts
Due: eslint --fix, prettier --write

chore: disable KBViewShell test module
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
Due: eslint --fix, prettier --write

feat: implement ViewModeService for shell switching (Phase 8.5)
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-preferences.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.ts
  theia-extensions/kb-view/src/browser/view-mode-service.ts
Due: eslint --fix, prettier --write

fix: resolve PreferenceService timing issue for ViewModeService (Phase 8.5)
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-preferences.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.ts
Due: eslint --fix, prettier --write

Update tsconfig.tsbuildinfo
  theia-extensions/kb-view/tsconfig.tsbuildinfo
Due: none

refactor: rewrite KB View to use greenfield custom widgets
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell-test-module.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-service.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-widget.ts
  theia-extensions/kb-view/src/browser/style/ribbon.css
  theia-extensions/kb-view/src/browser/style/sidebar.css
  theia-extensions/kb-view/src/browser/view-mode-service.ts
  theia-extensions/kb-view/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

docs: establish knowledge-base documentation style guide
  CLAUDE.md
Due: prettier --write

feat: replace Theia loading logo with Quallaa logo and enhance KB View (Phase 8.5)
  applications/browser/resources/preload.html
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-widget.tsx
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.spec.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-widget.ts
  theia-extensions/kb-view/src/browser/style/design-tokens.css
  theia-extensions/kb-view/src/browser/style/ribbon.css
  theia-extensions/kb-view/src/browser/style/sidebar.css
  theia-extensions/kb-view/src/browser/style/theme-utils.css
Due: eslint --fix, prettier --write

chore: stop tracking tsconfig.tsbuildinfo build artifact
  theia-extensions/kb-view/tsconfig.tsbuildinfo
Due: none

Update Next Steps.md
  knowledge-base/Meta/Next Steps.md
Due: prettier --write

feat: implement reload dialog for KB View mode switching (Phase 8.6)
  knowledge-base/Meta/Next Steps.md
  theia-extensions/kb-view/src/browser/view-mode-service.ts
Due: eslint --fix, prettier --write

test: add automated tests for KB View mode switching (Phase 8.6)
  applications/browser/test/kb-view-mode.spec.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-service.spec.ts
  theia-extensions/kb-view/src/browser/view-mode-service.spec.ts
Due: eslint --fix, prettier --write

fix: improve KB View E2E test reliability (all tests passing)
  applications/browser/test/kb-view-mode.spec.ts
Due: eslint --fix, prettier --write

feat: implement KB View panel wiring with Theia lifecycle pattern (Phase 8.7)
  applications/browser/test/kb-view-panels.spec.ts
  theia-extensions/kb-view/src/browser/kb-view-contribution.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-panel-manager.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-widget.tsx
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-service.spec.ts
Due: eslint --fix, prettier --write

revert: remove Phase 8 KB View custom shell implementation
  CLAUDE.md
  applications/browser/package.json
  applications/browser/resources/preload.html
  applications/browser/test/kb-view-mode.spec.ts
  applications/browser/test/kb-view-panels.spec.ts
  applications/electron/package.json
  docs/KB_VIEW_SHELL_DESIGN.md
  docs/THEIA_SHELL_ARCHITECTURE.md
  knowledge-base/Meta/Next Steps.md
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-contribution.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-panel-manager.ts
  theia-extensions/kb-view/src/browser/kb-view-preferences.ts
  theia-extensions/kb-view/src/browser/ribbon/default-ribbon-contribution.spec.ts
  theia-extensions/kb-view/src/browser/ribbon/default-ribbon-contribution.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-registry.spec.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-registry.ts
  theia-extensions/kb-view/src/browser/ribbon/ribbon-widget.tsx
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.spec.ts
  theia-extensions/kb-view/src/browser/shell/kb-view-shell.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-service.spec.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-service.ts
  theia-extensions/kb-view/src/browser/sidebar/sidebar-widget.ts
  theia-extensions/kb-view/src/browser/style/design-tokens.css
  theia-extensions/kb-view/src/browser/style/ribbon.css
  theia-extensions/kb-view/src/browser/style/sidebar.css
  theia-extensions/kb-view/src/browser/style/theme-utils.css
  theia-extensions/kb-view/src/browser/view-mode-service.spec.ts
  theia-extensions/kb-view/src/browser/view-mode-service.ts
  theia-extensions/kb-view/src/common/kb-view-protocol.ts
  theia-extensions/kb-view/tsconfig.json
Due: eslint --fix, prettier --write

feat: implement KB View mode switching foundation (Phase 1)
  applications/browser/package.json
  applications/browser/test/kb-view-mode-switching.spec.ts
  applications/electron/package.json
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-contribution.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-preferences.ts
  theia-extensions/kb-view/src/browser/style/kb-view.css
  theia-extensions/kb-view/src/browser/view-mode-service.ts
  theia-extensions/kb-view/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: implement KB View file label customization (Phase 2)
  applications/browser/test/kb-view-label-provider.spec.ts
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-file-operations.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-label-provider.ts
Due: eslint --fix, prettier --write

feat: implement KB View widget visibility management (Phase 3)
  applications/browser/test/kb-view-widget-visibility.spec.ts
  theia-extensions/kb-view/src/browser/kb-view-contribution.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-widget-manager.ts
Due: eslint --fix, prettier --write

test: fix KB View mode initialization test
  applications/browser/test/kb-view-widget-visibility.spec.ts
Due: eslint --fix, prettier --write

feat: add third-party extension detection (Phase 3.5 foundation)
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-extension-detector.spec.ts
  theia-extensions/kb-view/src/browser/kb-view-extension-detector.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: implement mode state persistence (Phase 4)
  theia-extensions/kb-view/package.json
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/mode-state-manager.ts
  theia-extensions/kb-view/src/browser/view-mode-service.ts
Due: eslint --fix, prettier --write

feat: implement Activity Bar filtering (Phase 5)
  theia-extensions/kb-view/src/browser/style/activity-bar.css
  theia-extensions/kb-view/src/browser/style/kb-view.css
Due: prettier --write

feat: implement KB View CSS styling with Obsidian-inspired theme (Phase 6)
  theia-extensions/kb-view/src/browser/style/editor.css
  theia-extensions/kb-view/src/browser/style/kb-view.css
  theia-extensions/kb-view/src/browser/style/layout.css
  theia-extensions/kb-view/src/browser/style/transitions.css
  theia-extensions/kb-view/src/browser/style/variables.css
Due: prettier --write

feat: implement command and menu filtering for KB View mode (Phase 7)
  theia-extensions/kb-view/src/browser/kb-view-command-filter.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-menu-filter.ts
  theia-extensions/kb-view/src/browser/style/kb-view.css
  theia-extensions/kb-view/src/browser/style/menu-filter.css
Due: eslint --fix, prettier --write

feat: add user configuration and customization system (Phase 7.5)
  theia-extensions/kb-view/src/browser/kb-view-customization-service.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-preferences.ts
  theia-extensions/kb-view/src/browser/style/customization.css
  theia-extensions/kb-view/src/browser/style/kb-view.css
Due: eslint --fix, prettier --write

fix: remove command registry wrapping to prevent async DI errors
  theia-extensions/kb-view/src/browser/kb-view-command-filter.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.css)) or (any of: *.md)
