Repository jefftoffoli/Quallaa-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: resolve circular dependency in KBViewWidgetManager
  theia-extensions/kb-view/src/browser/kb-view-constants.ts
  theia-extensions/kb-view/src/browser/kb-view-widget-manager.ts
  theia-extensions/kb-view/src/browser/mode-state-manager.ts
Due: eslint --fix, prettier --write

fix: correct KB widget IDs to match knowledge-base extension
  theia-extensions/kb-view/src/browser/kb-view-constants.ts
Due: eslint --fix, prettier --write

test: add comprehensive KB View menu bar tests and debug utilities
  applications/browser/test/kb-view-menu-bar.spec.ts
  applications/browser/test/kb-view-menu-debug.spec.ts
  theia-extensions/kb-view/src/browser/kb-view-contribution.ts
Due: eslint --fix, prettier --write

feat: activate KB View mode by default (Priority 1 complete)
  applications/browser/test/kb-view-mode-defaults.spec.ts
  screenshots/kb-view-test/01-kb-view-active-by-default.png
  screenshots/kb-view-test/02-bottom-panel-hidden.png
  screenshots/kb-view-test/03-tags-widget-open.png
  screenshots/kb-view-test/04-backlinks-widget-open.png
  screenshots/kb-view-test/05-dual-sidebars.png
  screenshots/kb-view-test/06-activity-bar-filtered.png
  screenshots/kb-view-test/08-command-palette-toggle.png
  screenshots/kb-view-test/11-kb-view-full-layout.png
  screenshots/kb-view-test/12-developer-mode-layout.png
  screenshots/kb-view-test/12-kb-view-layout.png
  theia-extensions/kb-view/src/browser/kb-view-preferences.ts
Due: eslint --fix, prettier --write

docs: add UI screenshot capture automation and parity report screenshots
  applications/browser/test/ui-screenshot-capture.spec.ts
  screenshots/01-overall-layout.png
  screenshots/03-file-explorer.png
  screenshots/04-wiki-link-autocomplete.png
  screenshots/05-wiki-links-document.png
  screenshots/06-backlinks-panel.png
  screenshots/07-knowledge-graph.png
  screenshots/08-knowledge-graph-interaction.png
  screenshots/09-tags-browser.png
  screenshots/10-template-dialog.png
  screenshots/11-daily-note.png
  screenshots/12-command-palette.png
  screenshots/13-quick-open.png
  screenshots/14-markdown-preview.png
  screenshots/15-multiple-panels.png
  screenshots/17-settings.png
  screenshots/18-about-dialog.png
Due: eslint --fix, prettier --write

fix: resolve async DI error in KB View mode toggle command
  screenshots/kb-view-test/01-kb-view-active-by-default.png
  screenshots/kb-view-test/02-bottom-panel-hidden.png
  screenshots/kb-view-test/06-activity-bar-filtered.png
  screenshots/kb-view-test/08-command-palette-toggle.png
  screenshots/kb-view-test/08-switched-to-developer-mode.png
  screenshots/kb-view-test/08-toggled-back-to-kb-view.png
  screenshots/kb-view-test/11-kb-view-full-layout.png
  screenshots/kb-view-test/12-kb-view-layout.png
  theia-extensions/kb-view/src/browser/kb-view-contribution.ts
  theia-extensions/kb-view/src/browser/view-mode-service.ts
Due: eslint --fix, prettier --write

ci: remove checks on non-existing matrix variable
  .github/workflows/build.yml
Due: prettier --write

ci: optimize build workflow to avoid redundant executions
  .github/workflows/build.yml
Due: prettier --write

Update macOS runners to 15 and 15-intel
  .github/workflows/build.yml
Due: prettier --write

Yarn upgrade after release v1.66.200
  yarn.lock
Due: none

fix: resolve kb-view module loading with proper InversifyJS bindings
  theia-extensions/kb-view/src/browser/kb-view-contribution.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/kb-view-preferences.ts
Due: eslint --fix, prettier --write

docs: streamline CLAUDE.md for better AI context
  CLAUDE.md
  knowledge-base/Meta/Next Steps.md
Due: prettier --write

wip: Priority 2 layout management service and tests
  applications/browser/test/layout-management-comprehensive.spec.ts
  applications/browser/test/layout-management.spec.ts
  theia-extensions/kb-view/src/browser/layout-manager.ts
Due: eslint --fix, prettier --write

chore: remove duplicate extension build step
  package.json
Due: prettier --write

chore: update theia-ide launch configurations
  .vscode/launch.json
Due: prettier --write

doc: update publishing guide documentation
  PUBLISHING.md
Due: prettier --write

refactor: generalize ModeStateManager to accept any layout ID
  theia-extensions/kb-view/src/browser/mode-state-manager.ts
Due: eslint --fix, prettier --write

fix: correct selectors in layout management Playwright tests
  applications/browser/test/layout-management-comprehensive.spec.ts
  applications/browser/test/layout-management.spec.ts
Due: eslint --fix, prettier --write

test: add user journey tests for Priority 2 layout management
  applications/browser/test/layout-user-journey.spec.ts
Due: eslint --fix, prettier --write

feat: complete Priority 2 named workspace layouts with keybinding fix
  applications/browser/test/layout-user-journey.spec.ts
  theia-extensions/kb-view/src/browser/kb-view-command-filter.ts
  theia-extensions/kb-view/src/browser/layout-manager.ts
  theia-extensions/kb-view/src/browser/view-mode-service.ts
Due: eslint --fix, prettier --write

feat: implement TipTap WYSIWYG editor foundation (Phase 3.1)
  applications/browser/test/tiptap-editor-phase3.1.spec.ts
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/editor/editor-styles.css
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-open-handler.ts
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: implement Phase 3.3 bi-directional markdown sync
  applications/browser/test/tiptap-editor-phase3.1.spec.ts
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-open-handler.ts
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
Due: eslint --fix, prettier --write

feat: implement Phase 3.4 TipTap wiki link extension
  applications/browser/test/tiptap-wiki-links.spec.ts
  theia-extensions/knowledge-base/src/browser/editor/editor-styles.css
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-wiki-link.ts
Due: eslint --fix, prettier --write

fix: resolve outstanding KB View issues
  applications/browser/test/kb-view-mode-defaults.spec.ts
  theia-extensions/kb-view/src/browser/kb-view-widget-manager.ts
Due: eslint --fix, prettier --write

feat: implement Phase 3.5 TipTap formatting toolbar and keybindings
  theia-extensions/knowledge-base/src/browser/editor/editor-styles.css
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-wiki-link.ts
Due: eslint --fix, prettier --write

chore: remove references to Gitpod (now Ona)
  .gitpod.dockerfile
  .gitpod.yml
Due: prettier --write

chore: add screenshots to gitignore
  .gitignore
  screenshots/01-overall-layout.png
  screenshots/03-file-explorer.png
  screenshots/04-wiki-link-autocomplete.png
  screenshots/05-wiki-links-document.png
  screenshots/06-backlinks-panel.png
  screenshots/07-knowledge-graph.png
  screenshots/08-knowledge-graph-interaction.png
  screenshots/09-tags-browser.png
  screenshots/10-template-dialog.png
  screenshots/11-daily-note.png
  screenshots/12-command-palette.png
  screenshots/13-quick-open.png
  screenshots/14-markdown-preview.png
  screenshots/15-multiple-panels.png
  screenshots/17-settings.png
  screenshots/18-about-dialog.png
  screenshots/kb-view-test/01-kb-view-active-by-default.png
  screenshots/kb-view-test/02-bottom-panel-hidden.png
  screenshots/kb-view-test/03-tags-widget-open.png
  screenshots/kb-view-test/04-backlinks-widget-open.png
  screenshots/kb-view-test/05-dual-sidebars.png
  screenshots/kb-view-test/06-activity-bar-filtered.png
  screenshots/kb-view-test/08-command-palette-toggle.png
  screenshots/kb-view-test/08-switched-to-developer-mode.png
  screenshots/kb-view-test/08-toggled-back-to-kb-view.png
  screenshots/kb-view-test/11-kb-view-full-layout.png
  screenshots/kb-view-test/12-developer-mode-layout.png
  screenshots/kb-view-test/12-kb-view-layout.png
Due: none

feat: implement Phase 3.6 WYSIWYG enhancements
  applications/browser/test/wysiwyg-editor-features.spec.ts
  applications/browser/test/wysiwyg-user-experience.spec.ts
  theia-extensions/kb-view/src/browser/kb-view-frontend-module.ts
  theia-extensions/kb-view/src/browser/ribbon-widget.tsx
  theia-extensions/kb-view/src/browser/style/ribbon.css
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/editor/editor-styles.css
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-wiki-link.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix: update tab selectors to use Lumino classes
  applications/browser/test/wysiwyg-user-experience.spec.ts
Due: eslint --fix, prettier --write

feat: implement Monaco source editor and fix gitignore
  .gitignore
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/monaco-source-editor.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-wiki-image.ts
  theia-extensions/knowledge-base/src/browser/editor/wiki-link-suggestion.tsx
Due: eslint --fix, prettier --write

feat: add GFM table support and fix widget ID bug
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/editor/editor-styles.css
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/monaco-source-editor.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
  yarn.lock
Due: eslint --fix, prettier --write

feat: add task lists, image drag-and-drop, and improve WYSIWYG editor
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/editor/editor-styles.css
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
  yarn.lock
Due: eslint --fix, prettier --write

fix: add widget ID validation in markdown editor open handler
  applications/electron/package.json
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-open-handler.ts
Due: eslint --fix, prettier --write

fix: correct widget ID to use factory ID without URI suffix
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-open-handler.ts
Due: eslint --fix, prettier --write

fix: prevent data loss and improve UX in WYSIWYG editor (Phase 3.7)
  applications/browser/test/kb-view-mode-switching.spec.ts
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-open-handler.ts
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/monaco-source-editor.tsx
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
Due: eslint --fix, prettier --write

feat: add contextual table manipulation toolbar (Phase 3.8)
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
Due: eslint --fix, prettier --write

test: add comprehensive E2E test for table editing (Phase 3.8)
  applications/browser/test/table-editing.spec.ts
Due: eslint --fix, prettier --write

fix: resolve duplicate @theia dependencies breaking E2E tests
  applications/browser/test/table-editing.spec.ts
  theia-extensions/kb-view/package.json
  theia-extensions/knowledge-base/package.json
  yarn.lock
Due: eslint --fix, prettier --write

test: document table E2E test workspace requirement
  applications/browser/test/table-editing.spec.ts
Due: eslint --fix, prettier --write

refactor: integrate MonacoEditorProvider for LSP support in Source mode
  applications/browser/test/monaco-lsp-integration.spec.ts
  test-workspace/lsp-test.md
  theia-extensions/knowledge-base/src/browser/editor/markdown-editor-widget.tsx
  theia-extensions/knowledge-base/src/browser/editor/monaco-source-editor.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.css)) or (any of: *.md)
