Repository jefftoffoli/Quallaa-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{json,yml,yaml}": ["prettier --write"],
    "*.css": ["prettier --write"],
    "*.md": ["prettier --write"]
}

perf: optimize Knowledge Graph with D3 data joins
  theia-extensions/knowledge-base/src/browser/graph/graph-widget.tsx
Due: eslint --fix, prettier --write

feat: add image paste handler to WYSIWYG editor
  theia-extensions/knowledge-base/src/browser/editor/tiptap-renderer.tsx
Due: eslint --fix, prettier --write

test: add integration tests and test workspace for recent features
  applications/browser/test/features-integration.spec.ts
  applications/browser/test/monaco-lsp-manual.spec.ts
  test-workspace/Note A.md
  test-workspace/Note B.md
  test-workspace/Note C.md
  test-workspace/monaco-test.md
Due: eslint --fix, prettier --write

Fix small typo in browser.Dockerfile
  browser.Dockerfile
Due: none

Update README.md build steps with note to start clean after dependency changes/pulling to a new commit
  README.md
Due: prettier --write

refactor: remove note templates in favor of LLM-native approach
  CLAUDE.md
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/templates/template-contribution.ts
  theia-extensions/knowledge-base/src/browser/templates/template-variables.ts
Due: eslint --fix, prettier --write

fix: use Quallaa logo in preload and fix @injectable decorator errors
  applications/browser/resources/preload.html
  applications/electron/resources/preload.html
  theia-extensions/knowledge-base/src/browser/backlinks/backlinks-contribution.ts
  theia-extensions/knowledge-base/src/browser/tags/tags-contribution.ts
  theia-extensions/product/src/browser/theia-ide-getting-started-widget.tsx
Due: eslint --fix, prettier --write
