Repository jefftoffoli/Quallaa-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add markdown and accessibility linting with knowledge base extension
  .eslintrc.js
  .markdownlint.json
  applications/browser/package.json
  applications/electron/package.json
  configs/accessibility.eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

fix: add EPL 2.0 headers and resolve linting issues
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-completion-provider.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-contribution.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-detector.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-navigator.ts
  theia-extensions/knowledge-base/src/common/knowledge-base-protocol.ts
  theia-extensions/knowledge-base/src/common/wiki-link-parser.spec.ts
  theia-extensions/knowledge-base/src/common/wiki-link-parser.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-backend-module.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.spec.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

fix: move file creation from backend to frontend
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-navigator.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

docs: add monetization strategy and reorganize knowledge base
  knowledge-base/Meta/Archive/Conversation Index.md
  knowledge-base/Meta/Archive/Phase 1.2 Implementation Guide.md
  knowledge-base/Meta/Next Steps.md
  knowledge-base/Project Vision/Monetization Strategy - AI Cloud Services.md
  knowledge-base/Project Vision/Project Vision - Knowledge-First IDE.md
  knowledge-base/README-AI.md
  knowledge-base/README.md
  knowledge-base/Reference/DeepSeek-OCR Integration Assessment.md
Due: prettier --write

chore: add Playwright test artifacts to .gitignore
  .gitignore
Due: none

test: add Playwright E2E testing infrastructure
  .eslintignore
  package.json
  playwright.config.ts
  yarn.lock
Due: eslint --fix, prettier --write

test: add initial wiki links E2E tests
  .eslintignore
  test-wiki-links-simple.spec.ts
  test-wiki-links.spec.ts
Due: eslint --fix, prettier --write

docs: add comprehensive image handling strategy to knowledge base
  knowledge-base/Decisions Summary.md
  knowledge-base/Features/Image Handling.md
  knowledge-base/Meta/Architecture Decisions.md
  knowledge-base/Meta/Next Steps.md
  knowledge-base/README.md
Due: prettier --write

feat: improve wiki links workspace detection and markdown file handling
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-completion-provider.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-contribution.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-detector.ts
  theia-extensions/knowledge-base/src/common/knowledge-base-protocol.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

feat: implement Phase 1.3 note indexing service
  .eslintignore
  applications/browser/test/workspace-indexing.spec.ts
  knowledge-base/Implementation/Phase 1.2 Completion Summary.md
  knowledge-base/Implementation/Phase 1.3 Completion Summary.md
  knowledge-base/Meta/Next Steps.md
  test-workspace.theia-workspace
  test-workspace/Broken Link.md
  test-workspace/Index.md
  test-workspace/Meeting Notes.md
  test-workspace/foo.md
  test-workspace/notes/bar.md
  test-workspace/testA.md
  test-workspace/testB.md
  test-workspace/testC.md
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/knowledge-base-workspace-contribution.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-detector.ts
  theia-extensions/knowledge-base/src/common/knowledge-base-protocol.ts
  theia-extensions/knowledge-base/src/node/frontmatter-parser.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: implement wiki link visual styling with DocumentLinkProvider
  PHASE_1_3_STATUS.md
  applications/browser/test/wiki-link-autocomplete.spec.ts
  test-workspace/catt.md
  test-workspace/dogg.md
  test-workspace/file-watcher-test-2.md
  test-workspace/testD.md
  test-workspace/watcher-test-final.md
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/style/wiki-links.css
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-contribution.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-detector.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-provider.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

chore: clean up test workspace files from debugging session
  test-workspace/Broken Link.md
  test-workspace/catt.md
  test-workspace/dogg.md
  test-workspace/file-watcher-test-2.md
  test-workspace/foo.md
  test-workspace/testB.md
  test-workspace/testC.md
  test-workspace/testD.md
  test-workspace/watcher-test-final.md
Due: prettier --write

feat: implement wiki link creation with command URIs (Foam pattern)
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-contribution.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-provider.ts
Due: eslint --fix, prettier --write

refactor: remove WikiLinkNavigator, follow Foam's pure LinkProvider pattern
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-contribution.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-navigator.ts
Due: eslint --fix, prettier --write

feat: add Backlinks Panel, Daily Notes, and Quick Switcher features
  applications/browser/test/wiki-link-creation.test.ts
  theia-extensions/knowledge-base/src/browser/backlinks/backlinks-contribution.ts
  theia-extensions/knowledge-base/src/browser/backlinks/backlinks-widget.tsx
  theia-extensions/knowledge-base/src/browser/daily-notes/daily-notes-contribution.ts
  theia-extensions/knowledge-base/src/browser/daily-notes/daily-notes-util.ts
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/quick-switcher/quick-switcher-contribution.ts
  theia-extensions/knowledge-base/src/browser/style/backlinks.css
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-contribution.ts
  theia-extensions/knowledge-base/src/common/knowledge-base-protocol.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

test workspace
  test-workspace/Getting started.md
  test-workspace/My Projects.md
  test-workspace/foo.md
  test-workspace/test-command.md
  test-workspace/testLink.md
Due: prettier --write

docs: add knowledge base maintenance architecture and health metrics
  knowledge-base/Architecture/AI Deletion Agents.md
  knowledge-base/Architecture/Knowledge Graph Health Metrics.md
  knowledge-base/Features/Backlinks Panel.md
  knowledge-base/Features/Knowledge Base Maintenance.md
  knowledge-base/Features/Knowledge Graph View.md
  knowledge-base/Features/Tags System.md
  knowledge-base/Features/Wiki Links.md
Due: prettier --write

feat: add Knowledge Graph visualization widget
  theia-extensions/knowledge-base/src/browser/graph/graph-contribution.ts
  theia-extensions/knowledge-base/src/browser/graph/graph-widget.tsx
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/style/graph.css
  theia-extensions/knowledge-base/src/common/knowledge-base-protocol.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

docs: add multi-product platform strategy and HITL-GAN proposal
  knowledge-base/Decisions Summary.md
  knowledge-base/Meta/KB Update - Platform Strategy Analysis.md
  knowledge-base/Meta/Platform Strategy - Immediate Actions.md
  knowledge-base/Project Vision/HITL-GAN Platform - Business Proposal.md
  knowledge-base/Project Vision/Monetization Strategy - AI Cloud Services.md
  knowledge-base/Project Vision/Platform Strategy - Unified Vision.md
  knowledge-base/Project Vision/Quallaa + HITL-GAN Synergies.md
  knowledge-base/README.md
Due: prettier --write

chore: update gitignore to exclude debug scripts and make KB private
  .gitignore
Due: none

test: add knowledge graph integration test
  applications/browser/test/knowledge-graph.spec.ts
Due: eslint --fix, prettier --write

feat: achieve 87.5% Foam feature parity with knowledge graph, tags, and templates
  package.json
  theia-extensions/knowledge-base/package.json
  theia-extensions/knowledge-base/src/browser/graph/graph-widget.tsx
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/style/graph.css
  theia-extensions/knowledge-base/src/browser/style/tags.css
  theia-extensions/knowledge-base/src/browser/tags/tags-contribution.ts
  theia-extensions/knowledge-base/src/browser/tags/tags-widget.tsx
  theia-extensions/knowledge-base/src/browser/templates/template-contribution.ts
  theia-extensions/knowledge-base/src/browser/templates/template-variables.ts
  theia-extensions/knowledge-base/src/common/knowledge-base-protocol.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
  yarn.lock
Due: eslint --fix, prettier --write

Create project-test.md
  test-workspace/project-test.md
Due: prettier --write

docs: update README with knowledge base features and 87.5% Foam parity
  README.md
Due: prettier --write

chore: add Claude Code hooks for test-workspace
  test-workspace/.claude/hooks/file-backup-hook.js
  test-workspace/.claude/hooks/session-cleanup-hook.js
Due: none

Update README.md
  README.md
Due: prettier --write

fix: update to VS 2022 when using node 22 on windows
  releng/preview/Jenkinsfile.build
Due: none

fix: clean git directory to ensure a clean state for preview builds
  releng/preview/Jenkinsfile.build
Due: none

chore: log node version also for mac runner
  releng/preview/Jenkinsfile.build
Due: none

chore: separate build commands to have better overview in the logs
  releng/preview/Jenkinsfile.build
Due: none

fix: remove superfluous re-installation of node version
  releng/preview/Jenkinsfile.build
Due: none

Update to Theia v1.66.1
  applications/browser/package.json
  applications/electron/package.json
  lerna.json
  package.json
  theia-extensions/launcher/package.json
  theia-extensions/product/package.json
  theia-extensions/updater/package.json
  yarn.lock
Due: prettier --write

docs: add upstream merge infrastructure and documentation
  .github/scripts/merge-upstream.sh
  README.md
  docs/MERGING_UPSTREAM.md
Due: prettier --write

docs: add CLAUDE.md context file for AI assistants
  CLAUDE.md
Due: prettier --write

refactor: standardize licensing and optimize wiki link parsing
  theia-extensions/knowledge-base/src/browser/backlinks/backlinks-contribution.ts
  theia-extensions/knowledge-base/src/browser/backlinks/backlinks-widget.tsx
  theia-extensions/knowledge-base/src/browser/daily-notes/daily-notes-contribution.ts
  theia-extensions/knowledge-base/src/browser/daily-notes/daily-notes-util.ts
  theia-extensions/knowledge-base/src/browser/graph/graph-contribution.ts
  theia-extensions/knowledge-base/src/browser/graph/graph-widget.tsx
  theia-extensions/knowledge-base/src/browser/knowledge-base-frontend-module.ts
  theia-extensions/knowledge-base/src/browser/knowledge-base-workspace-contribution.ts
  theia-extensions/knowledge-base/src/browser/quick-switcher/quick-switcher-contribution.ts
  theia-extensions/knowledge-base/src/browser/style/backlinks.css
  theia-extensions/knowledge-base/src/browser/style/graph.css
  theia-extensions/knowledge-base/src/browser/style/tags.css
  theia-extensions/knowledge-base/src/browser/style/wiki-links.css
  theia-extensions/knowledge-base/src/browser/tags/tags-contribution.ts
  theia-extensions/knowledge-base/src/browser/tags/tags-widget.tsx
  theia-extensions/knowledge-base/src/browser/templates/template-contribution.ts
  theia-extensions/knowledge-base/src/browser/templates/template-variables.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-completion-provider.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-contribution.ts
  theia-extensions/knowledge-base/src/browser/wiki-links/wiki-link-provider.ts
  theia-extensions/knowledge-base/src/common/knowledge-base-protocol.ts
  theia-extensions/knowledge-base/src/node/frontmatter-parser.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.spec.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

fix: update ESLint to accept both MIT and EPL-2.0 license headers
  configs/errors.eslintrc.json
Due: prettier --write

test: fix backend service tests with real filesystem
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.spec.ts
  theia-extensions/knowledge-base/src/node/knowledge-base-service-impl.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{json,yml,yaml})) or (any of: *.css)) or (any of: *.md)
